body {
  background-color: #191414;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.flexContainer {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feild {
  margin-top: 10%;
  width: 120%;
}

.tuneInColor {
  background-color: #1a9946;
}

.signUpModal {
  background-color: #756a6a;
}
